{% load static %}

{% comment %} for inner footer {% endcomment %}
<footer class="container">
  <hr>
  <div>
    <h4 style="text-align:center;">Mor Gregorios Syriac Orthodox Student Association</h4>
    <div class="contact-info">
      <p style="text-align: center;">270 Whippany road •&nbsp;Whippany, New Jersey 07981<br>
        {% comment %} Phone: <a href="tel:344755111">344-755-111 {% endcomment %}
        </a>&nbsp;•&nbsp;<a href="{% url 'contact' %}"
          style="text-align: center;">Contact</a></p>
      <p style="text-align: center;"><a href="{% url 'pastEvents' %}">Events</a>&nbsp;•&nbsp;<a
          href="{% url 'contact' %}">Join our Mailing Lists</a>&nbsp;•&nbsp;<a
          href="{% url 'donations' %}">Donate</a><br>
        {% comment %} <a href="/news/media">For the Media</a></p> {% endcomment %}
    </div>
  </div>
  <div class="footer-text">
    <div class="social-icons"><a href="#" target="_blank"><i class="fa fa-facebook-official">&nbsp;</i></a>&nbsp; <a
        href="#" target="_blank"><i class="fa fa-pinterest">&nbsp;</i></a>&nbsp; <a href="#" target="_blank"><i
          class="fa fa-twitter-square">&nbsp;</i></a>&nbsp; <a href="#" target="_blank"><i
          class="fa fa-instagram">&nbsp;</i></a>&nbsp; <a href="#" target="_blank"><i
          class="fa fa-youtube">&nbsp;</i></a>&nbsp; <a href="#" target="_blank"><i class="fa fa-flickr">&nbsp;</i></a>
    </div>
    <div>&nbsp;</div>
    <div class="footer-copyright container">
      <p style="margin-bottom:4px !important">© 2020&nbsp;Mor Gregorios Syriac Orthodox Student Association.<br>
        <a href="{% url 'home' %}" style="font-size:16px;line-height:30px !important;">Home</a>
        | <a href="{% url 'about' %}" style="font-size:16px;line-height:30px;">About</a>
        | <a href="{% url 'pastEvents' %}" style="font-size:16px;line-height:30px;">Events</a>
        | <a href="{% url 'community' %}" style="font-size:16px;line-height:30px;">Community</a>
        | <a href="{% url 'dailyPrayer' %}" style="font-size:16px;line-height:30px;">Daily Prayer</a>
        | <a href="{% url 'contact' %}" style="font-size:16px;line-height:30px;">Contact Us</a>

        {% comment %} <a href="{% url 'community' %}">Community</a> | <a href="{% url 'about' %}">About</a> | <a
          href="{% url 'dailyPrayer' %}">Daily Prayers</a><br> {% endcomment %}
      </p>
      {% comment %} <p><em>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is
          simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
          text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
          specimen book.</em></p> {% endcomment %}
    </div>
  </div>
</footer>
{% comment %} for inner footer ends here {% endcomment %}
<footer class="footer-area footer--light">
  <div class="">

    <div class="tg-footerbar">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="tg-copyrights">
              <p style="margin-bottom:0px;color:#fff">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">© 2020 All Rights Reserved. </font>
                </font>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
{% comment %}
<script src="{% static 'js/jquery.slim.min.js' %}"></script> {% endcomment %}
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

{% comment %} for events tiles {% endcomment %}
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/fontawesome/892dade262.js' %}"></script>
<script>
  $(document).ready(function () {
    $(".fancybox").fancybox({
      openEffect: "none",
      closeEffect: "none"
    });
  });
</script>

</body>

</html>