{% load static %}

{% comment %} for inner footer {% endcomment %}
<footer class="container">
<hr>
<div>
<h4 style="text-align:center;">Mor GreGorios Syriac Orthodox Student Association</h4>
<div class="contact-info">
<p style="text-align: center;">8 East 79th Street •&nbsp;New York, NY 10075<br>
Phone: <a href="tel:344755111">344-755-111</a>&nbsp;•&nbsp;<a href="{% url 'contact' %}" style="text-align: center;">Contact</a></p>
<p style="text-align: center;"><a href="{% url 'events' %}">Events</a>&nbsp;•&nbsp;<a href="{% url 'contact' %}">Join our Mailing Lists</a>&nbsp;•&nbsp;<a href="{% url 'donations' %}">Donate</a><br>
{% comment %} <a href="/news/media">For the Media</a></p> {% endcomment %}
</div>
</div>
<div class="footer-text">
<div class="social-icons"><a href="#" target="_blank"><i class="fa fa-facebook-official">&nbsp;</i></a>&nbsp; <a href="#" target="_blank"><i class="fa fa-pinterest">&nbsp;</i></a>&nbsp; <a href="#" target="_blank"><i class="fa fa-twitter-square">&nbsp;</i></a>&nbsp; <a href="#" target="_blank"><i class="fa fa-instagram">&nbsp;</i></a>&nbsp; <a href="#" target="_blank"><i class="fa fa-youtube">&nbsp;</i></a>&nbsp; <a href="#" target="_blank"><i class="fa fa-flickr">&nbsp;</i></a></div>
<div>&nbsp;</div>
<div class="footer-copyright">
<p>© 2020&nbsp;Mor GreGorios Syriac Orthodox Student Association.<br>
<a href="{% url 'community' %}">Community</a> | <a href="{% url 'about' %}">About</a> | <a href="{% url 'dailyPrayer' %}">Daily Prayers</a><br>
Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
<p><em>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</em></p>
</div>
</div>
</footer>
{% comment %} for inner footer ends here {% endcomment %}
<footer class="footer-area footer--light">
  <div class="footer-big">
    <!-- start .container -->
    {% comment %} <div class="container">
      <div class="row">
       <!-- <div class="col-md-3 col-sm-12">
          <div class="footer-widget">
            <div class="widget-about">
              {% comment %} <img src="{% static 'images/footer-logo.png' %}" alt="" class="img-fluid"> {% endcomment %}
              {% comment %} <p>Help our new converts! Can't do the full two weeks? No problem - Just <a href="{% url 'contact' %}">contact us</a></p> {% endcomment %}
              {% comment %} <ul class="contact-details">
                <li>
                  <span class="icon-earphones"></span> Contact Us:
                  {% comment %} <a href="tel:344-755-111">344-755-111</a> 
                </li>
                <li>
                  <span class="icon-envelope-open"></span>
                  <a href="mailto:frzach@stthomastexas.org">frzach@stthomastexas.org</a>
                </li>
              </ul> 
            </div>
          </div>
          
        </div>
        <!-- end /.col-md-4 -->
        <div class="col-md-3 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu footer-menu--1">
              {% comment %} <h4 class="footer-widget-title"> &nbsp;</h4> {% endcomment %}
              <ul>
                {% comment %} <li>
                  <a href="#">Safe</a>
                </li>
                <li>
                  <a href="#">Affordable</a>
                </li> 
                <li>
                  <a href="#">Medical*</a>
                </li>
                <li>
                  <a href="#">Public Health*</a>
                </li>
                <li>
                  <a href="#">English/Spanish Training</a>
                </li>
              </ul>
            </div>
            <!-- end /.footer-menu -->
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- end /.col-md-3 -->

        <div class="col-md-3 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu">
              {% comment %} <h4 class="footer-widget-title">About</h4> 
              <ul>
                <li>
                  <a href="#">Building</a>
                </li>
                <li>
                  <a href="#">Serving</a>
                </li>
               {% comment %} <li>
                  <a href="{% url 'about' %}">About</a>
                </li> 
              </ul>
            </div>
            <!-- end /.footer-menu -->
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- end /.col-lg-3 -->

        <div class="col-md-3 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu no-padding">
              {% comment %} <h4 class="footer-widget-title">Contact</h4>
              <ul>
                 {% comment %} <li>
                  <a href="{% url 'contact' %}">Contact Us</a>
                </li> 
                 <li>
                <a href="mailto:frzach@stthomastexas.org">frzach@stthomastexas.org</a>
                </li>
              </ul>
            </div>
            <!-- end /.footer-menu -->
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- Ends: .col-lg-3 -->

      </div>
      <!-- end /.row -->
    </div>
    <!-- end /.container -->
  </div> {% endcomment %}
  <!-- end /.footer-big -->
<div class="tg-footerbar">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<nav class="tg-footernav">
								<ul>
									<li><a href="{% url 'home' %}" style="color:#fff"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Home</font></font></a></li>
									<li><a href="{% url 'about' %}" style="color:#fff"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">About</font></font></a></li>
									<li><a href="{% url 'events' %}" style="color:#fff"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Events</font></font></a></li>
									<li><a href="{% url 'community' %}" style="color:#fff"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Community</font></font></a></li>
									<li><a href="{% url 'dailyPrayer' %}" style="color:#fff"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Daily Prayer</font></font></a></li>
									<li><a href="{% url 'contact' %}" style="color:#fff"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contact Us</font></font></a></li>
								</ul>
							</nav>
							<div class="tg-copyrights">
                <p style="margin-bottom:0px;color:#fff">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">© 2020 All Rights Reserved. </font>
                  </font>
                  
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">Powered by <a href="http://mavapartners.com/" target="_blank" class="site_link_color"> &nbsp;MAVA Partners</a></font>
                    </font>
                  
                </p>
              </div>
						</div>
					</div>
				</div>
			</div>
  {% comment %} <div class="mini-footer bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright-text">
            <p>© 2020
              <a href="#">MGSOSA</a>. All rights reserved. Created by
              <a href="#">MAVAPARTNERS</a>
            </p>
          </div>

          <div class="go_top">
            <span class="icon-arrow-up"></span>
          </div>
        </div>
      </div>
    </div>
  </div> {% endcomment %}
</footer>

  <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" ></script>

    {% comment %} for events tiles {% endcomment %}
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
    	<script src="https://use.fontawesome.com/892dade262.js"></script>
<script>
$(document).ready(function(){
    $(".fancybox").fancybox({
        openEffect: "none",
        closeEffect: "none"
    });
});
</script>
 

{% comment %} for events tiles end here{% endcomment %}
</body>

</html>