{% with url_name=request.resolver_match.url_name %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-brown static-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">MGSOSA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {% if url_name == 'home' %} active {% endif %}">
                <a class="nav-link" href="{% url 'home' %}">Home
                    <span class="sr-only">(current)</span>
                </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'about' %} active {% endif %}" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'events' %} active {% endif %}" href="{% url 'events' %}">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'community' %} active {% endif %}" href="{% url 'community' %}">Community</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link {% if url_name == 'dailyPrayer' %} active {% endif %}" href="{% url 'dailyPrayer' %}">Daily Prayer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'contact' %} active {% endif %}" href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endwith %}