{% extends 'base.html' %}

{% block style %}
    {% load static %}
    <link href="{% static 'css/contact.css' %}" rel="stylesheet">
    <style>
    body {
  {% comment %} background: url('{% static 'images/AdobeStock_306390621_Preview.jpeg' %}') no-repeat center center fixed; {% endcomment %}
  background: url('{% static 'images/parchemnt_paper2.png' %}') no-repeat center center fixed;
  {% comment %} background:url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed; {% endcomment %}
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
    {% comment %} /* member section css */ {% endcomment %}
{% comment %} FontAwesome for working BootSnippet :>  {% endcomment %}


#team {
    {% comment %} background: #eee !important; {% endcomment %}
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #0bacd3;
    border-color: #098aa9;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #B27D12;
    margin-bottom: 50px;
    {% comment %} text-transform: uppercase; {% endcomment %}
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 338px;
}

.backside .card a {
    font-size: 18px;
    color: #0bacd3 !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #0bacd3 !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
@font-face {
    font-family: myFirstFont;
    src: url('{% static 'fonts/kingthings-petrock/Kingthings Petrock.ttf' %}');
  }
{% comment %} /* member section css ends here */ {% endcomment %}
</style>
{% endblock %}

{% block banner %}
    {% load static %}
    {% comment %} <img src="{% static 'images/new_red_banner.png' %}" class="img-fluid" height="400" alt="Responsive image"> {% endcomment %}
{% endblock %}
{% block content %}
{% load static %}

<div class="container animated fadeIn">
    <div class="row">
        <h1 class="header-title mt-3" style="text-align:left;font-family: Kingthings Petrock;"> About </h1>
        {% include 'includes/breadcrumb.html' %}
        <hr>
        <div class="col-sm-12" id="parent">
            <div class="col-sm-12" style="float:left;padding-left:5px">
                <p style="text-align:center;font-family: Kingthings Petrock;" class="content-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat. Pretium lectus quam id leo in vitae turpis. Suspendisse interdum consectetur libero id faucibus nisl tincidunt eget nullam. Viverra vitae congue eu consequat ac felis donec et. Dictum non consectetur a erat nam at lectus. Lectus magna fringilla urna porttitor rhoncus dolor purus non enim. Orci a scelerisque purus semper eget duis at tellus at. Feugiat in ante metus dictum at tempor. Sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula. Molestie at elementum eu facilisis sed odio morbi quis. Ornare aenean euismod elementum nisi quis eleifend. Eget aliquet nibh praesent tristique magna sit amet purus gravida. Velit laoreet id donec ultrices.</p>
                {% comment %} <p style="text-align:left">Nisl condimentum id venenatis a. Cursus sit amet dictum sit amet justo. Maecenas ultricies mi eget mauris pharetra. Pharetra magna ac placerat vestibulum lectus mauris. Sollicitudin ac orci phasellus egestas tellus rutrum. Cras adipiscing enim eu turpis egestas pretium aenean pharetra. Nisi quis eleifend quam adipiscing vitae proin sagittis nisl. Sed vulputate mi sit amet. Tempor id eu nisl nunc mi ipsum. Eget nunc lobortis mattis aliquam. In eu mi bibendum neque egestas congue quisque. Ac turpis egestas integer eget aliquet nibh praesent tristique magna. Gravida quis blandit turpis cursus in hac. Id eu nisl nunc mi. Etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus. Eget arcu dictum varius duis at consectetur lorem donec. Mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare. Pretium nibh ipsum consequat nisl vel pretium lectus. Gravida rutrum quisque non tellus orci ac auctor augue.</p>
                <p style="text-align:left">Pretium viverra suspendisse potenti nullam. Mauris pharetra et ultrices neque ornare aenean euismod. Gravida arcu ac tortor dignissim convallis aenean et. Dignissim convallis aenean et tortor at. Adipiscing commodo elit at imperdiet. Augue eget arcu dictum varius. Leo vel fringilla est ullamcorper eget nulla facilisi etiam dignissim. Nunc pulvinar sapien et ligula ullamcorper malesuada. Placerat vestibulum lectus mauris ultrices eros in cursus. Risus commodo viverra maecenas accumsan lacus vel. Tristique et egestas quis ipsum suspendisse ultrices. Feugiat nibh sed pulvinar proin gravida hendrerit lectus a. Nec ultrices dui sapien eget mi proin sed libero enim.</p>
                <p style="text-align:left">Consectetur adipiscing elit duis tristique sollicitudin nibh. Ultricies integer quis auctor elit sed. Consequat interdum varius sit amet mattis. Posuere ac ut consequat semper viverra nam libero justo. Nibh tellus molestie nunc non. Vulputate mi sit amet mauris commodo quis imperdiet massa. Lacinia at quis risus sed vulputate odio ut enim blandit. Blandit turpis cursus in hac habitasse platea dictumst. Pellentesque habitant morbi tristique senectus et. Eget felis eget nunc lobortis mattis aliquam faucibus purus in. Leo vel orci porta non pulvinar neque laoreet. Urna nunc id cursus metus aliquam. Est ante in nibh mauris. Venenatis cras sed felis eget. Malesuada fames ac turpis egestas maecenas. Mattis aliquam faucibus purus in massa tempor nec feugiat nisl. Tempor orci dapibus ultrices in iaculis nunc. Sapien pellentesque habitant morbi tristique senectus et netus et.</p> {% endcomment %}
            </div>
        </div>
    </div>
    <section id="team" class="pb-0">
    <div class="container">
        <h5 class="section-title h1 gold-color" style="font-family: Kingthings Petrock;">Board Members</h5>
    <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/Chelsea.png' %}" alt="Chelsea Reji"></p>
                                    <h4 class="card-title">Chelsea Reji</h4>
                                    <p class="card-text">The Joint Treasurer of the Archdiocesan Youth Leadership Team</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Chelsea Reji</h4>
                                    <p class="card-text">The Joint Treasurer of the Archdiocesan Youth Leadership Team, attends St. Mary’s JSO Church, in White Plains, New York. Chelsea has completed her Bachelor’s in Social and Behavioral Sciences with a minor in Psychology.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/Aparna.png' %}" alt="Aparna Roy"></p>
                                    <h4 class="card-title">Aparna Roy</h4>
                                    <p class="card-text">The Joint Secretary for our Archdiocesan Youth Leadership Team.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Aparna Roy</h4>
                                    <p class="card-text">The Joint Secretary for our Archdiocesan Youth Leadership Team. She currently attends St. Basil’s Syriac Orthodox Church, in Boston, Massachusetts. Aparna is a a first year PA student at MCPHS University</p><br/>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/Nevin.png' %}" alt="Nevin Varghese"></p>
                                    <h4 class="card-title">Nevin Varghese</h4>
                                    <p class="card-text">The Secretary of MGSOSA.</p><br/>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Nevin Varghese</h4>
                                    <p class="card-text">The Secretary of MGSOSA. His home parish is St. George MSO church in Carteret, NJ, where he is currently a Sunday School teacher and an altar assistant. He has served in both these roles for nearly the last decade. </p><br/>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            </div>
            <div class="row justify-content-center">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/Nithin.png' %}" alt="Nithin Panicker"></p>
                                    <h4 class="card-title">Nithin Panicker</h4>
                                    <p class="card-text">Serves as the MGSOSA Archdiocesan Treasurer</p><p>&nbsp;</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Nithin Panicker</h4>
                                    <p class="card-text">Nithin was born, raised, and currently living in Dallas, TX. He’s a member of St. Mary’s Malankara Jacobite Syrian Orthodox Church in Dallas, TX. He currently serves as the MGSOSA Archdiocesan Treasurer. </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/Zach.png' %}" alt="Zach Varghese"></p>
                                    <h4 class="card-title">Fr. Zach Varghese</h4>
                                    <p class="card-text">VP of MGSOSA 2019-2021</p><br/><br/>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Fr. Zach Varghese, MD, MPH</h4>
                                    <p class="card-text">VP of MGSOSA 2019-2021.<br/> Vicar, St. Thomas MSO Church, Austin<br/>vp@mgsosa.com</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            {% comment %} <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_06.jpg" alt="card image"></p>
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
            <!-- ./Team member -->

        </div> 
         </div>
</section>
</div>
  <!--layout for 2 images ends-->
{% endblock %}