{% extends 'base.html' %}

{% block style %}
{% load static %}
<link href="{% static 'css/contact.css' %}" rel="stylesheet">
<style>
    body {
        background: url('{% static 'images/parchemnt_paper2.png' %}') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }

    @font-face {
        font-family: myFirstFont;
        src: url('{% static 'fonts/kingthings-petrock/Kingthings Petrock.ttf' %}');
    }
</style>
{% endblock %}

{% block banner %}
{% load static %}
{% comment %} <img src="{% static 'images/new_red_banner.png' %}" class="img-fluid" height="400" alt="Responsive image">
{% endcomment %}
{% endblock %}
{% block content %}
{% load static %}

<div class="container animated fadeIn">
    <div class="row">
        <h1 class="header-title mt-3" style="text-align:left;font-family: Kingthings Petrock;"> Community </h1>
        {% include 'includes/breadcrumb.html' %}
        <hr>
        <div class="col-sm-12" id="parent">
            <div class="col-sm-12" style="float:left;padding-left:5px">
                <p style="text-align:center;font-family: Kingthings Petrock;" class="content-p">
                <h5 class="header-title mt-3" style="text-align:left;font-family: Kingthings Petrock;">Welcome to our
                    community.  This is a place we can meet and discuss things like events, meets up, study groups, or
                    even charitable cause for the organization.  Join us and become part of the online community today.
                    <a href="mailto:mava.partnersin@gmail.com">Admin Email</a>
                </h5>
                </p>
            </div>
            <div class="col-sm-12" style="float:left;padding-left:5px">
                <a style="text-align:left;font-family: Kingthings Petrock;" class="">
                    <h2 class="header-title mt-3" style="text-align:left;font-family: Kingthings Petrock;"><a
                            href="{% if request.user.is_authenticated %} {% url 'forum:index' %} {% else %} {% url 'admin:index' %}{% endif %}">MGSOSA
                            Forum</a>
                    </h2>
                </a>
            </div>
        </div>
    </div>

</div>
<!--layout for 2 images ends-->
{% endblock %}