{% extends 'base.html' %}

{% block style %}
    {% load static %}
    <link href="{% static 'css/contact.css' %}" rel="stylesheet">
<style>
	body {
	background: url('{% static 'images/parchemnt_paper2.png' %}') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	font-family:Kingthings Petrock;
	}
</style>
{% endblock %}

{% block banner %}
    {% load static %}
    {% comment %} <img src="{% static 'images/new_red_banner.png' %}" class="img-fluid" height="400" alt="Responsive image"> {% endcomment %}
{% endblock %}
{% block content %}
{% load static %}

  <div class="container animated fadeIn">

  <div class="row">
    <h1 class="header-title mt-3"> Contact </h1>
	{% include 'includes/breadcrumb.html' %}
    <hr>
    <div class="col-sm-12" id="parent">
        <div class="col-sm-12" style="float:left;padding-left:5px">
            <p style="text-align:center" class="content-p">Whether you have a question about the website, features, how to get involved, or about MGSOSA itself, let us know. 
			We are here to help and answer any question you might have. 
			A member of the Archdiocesan MGSOSA team will reach out to you within 24-48 hours after your request is submitted. </p>
        </div>
    	<div class="col-sm-6" style="float:left">
    	</div>
    	<div class="col-sm-12 content-p" >
    		<form method="post" style="margin-top: 20%" >
    			{% csrf_token %}
    			  {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <p class="validation_alert" style="margin-top:12px">{{ message }} </p>
                    </div>
                  {% endfor %}

    			{{ form.non_field_errors }}
    			{% for hidden_field in form.hidden_fields %}
				    {{ hidden_field.errors }}
				    {{ hidden_field }}
			  	{% endfor %}

			  	{% if form.non_field_errors %}
			    <ul>
			      {% for error in form.non_field_errors %}
			        <li>{{ error }}</li>
			      {% endfor %}
			    </ul>
			 	 {% endif %}
                <div class="form-group">
                    <!-- <input type="text" class="form-control" id="name" name="nm" placeholder="Name" required="" autofocus=""> -->
                    {% comment %} {{ form.name.label_tag }} {% endcomment %}
                    {{ form.name }}
                </div>
                <div class="form-group form_left">
                    <!-- <input type="email" class="form-control" id="email" name="em" placeholder="Email" required=""> -->
                    {% comment %} {{ form.email.label_tag }} {% endcomment %}
                    {{ form.email }}
                </div>
                <div class="form-group">
                    <!-- <input type="text" class="form-control" id="phone" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="10" placeholder="Mobile No." required=""> -->
                    {% comment %} {{ form.mobile.label_tag }} {% endcomment %}
                    {{ form.mobile }}
                </div>
                <div class="form-group">
                    <!-- <textarea class="form-control textarea-contact" rows="5" id="comment" name="FB" placeholder="Type Your Message/Feedback here..." required=""></textarea> -->
                    <!-- {{ form.message.label_tag }} -->
                    {{ form.message }}
                    <br>
                    <div class="row justify-content-center">
						<button class=" btn-default btn-send"> <span class="glyphicon glyphicon-send"></span> Send </button>
					</div>
				</div>
     		</form>
    	</div>
    </div>
  </div>

  {% comment %} <div class="container second-portion">
	<div class="row">
        <!-- Boxes de Acoes -->
    	<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">
				<div class="icon">
					<div class="image"><i class="fa fa-envelope" aria-hidden="true"></i></div>
					<div class="info">
						<h3 class="title">MAIL & WEBSITE</h3>
						<p>
							<i class="fa fa-envelope" aria-hidden="true"></i> &nbsp frzach@stthomastexas.org
							<br>
							<br>
							<i class="fa fa-globe" aria-hidden="true"></i> &nbsp www.mgsosa.com
						</p>
					</div>
				</div>
				<div class="space"></div>
			</div>
		</div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">
				<div class="icon">
					<div class="image"><i class="fa fa-mobile" aria-hidden="true"></i></div>
					<div class="info">
						<h3 class="title">CONTACT</h3>
    					<p>
							<i class="fa fa-mobile" aria-hidden="true"></i> &nbsp (+91)-9624XXXXX
							<br>
							<br>
							<i class="fa fa-mobile" aria-hidden="true"></i> &nbsp  (+91)-756706XXXX
						</p>
					</div>
				</div>
				<div class="space"></div>
			</div>
		</div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">
				<div class="icon">
					<div class="image"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
					<div class="info">
						<h3 class="title">ADDRESS</h3>
    					<p>
							 <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp
						</p>
					</div>
				</div>
				<div class="space"></div>
			</div>
		</div>
		<!-- /Boxes de Acoes -->
		<!--My Portfolio  dont Copy this -->
	</div>
</div>{% endcomment %}
</div> 
  <!--layout for 2 images ends-->

{% endblock %}