{% extends 'base.html' %}

{% block style %}
    {% load static %}
    <link href="{% static 'css/contact.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery.fancybox.css' %}" rel="stylesheet">
    <link href="{% static 'css/event-details-gallery.css' %}" rel="stylesheet">
  <style>
  body {
    {% comment %} background: url('{% static 'images/AdobeStock_306390621_Preview.jpeg' %}') no-repeat center center fixed; {% endcomment %}
    background: url('{% static 'images/parchemnt_paper2.png' %}') no-repeat center center fixed;
    {% comment %} background:url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed; {% endcomment %}
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  {% comment %} css for tiles starts here {% endcomment %}

{% comment %} css for tiles ends here {% endcomment %}

{% comment %} css for listing {% endcomment %}

{% comment %} css for listing ends here {% endcomment %}
</style>
{% endblock %}

{% block banner %}
    {% load static %}
	{% endblock %}
{% block content %}
{% load static %}

<div class="container animated fadeIn">
    <div class="row">
        <h1 class="header-title mt-3"> Event Details </h1>
        {% include 'includes/breadcrumb.html' %}
        <hr>
        <div class="col-sm-12" id="parent">
            <div class="col-sm-12" style="float:left;padding-left:5px">
                <p style="text-align:center" class="content-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat. Pretium lectus quam id leo in vitae turpis. Suspendisse interdum consectetur libero id faucibus nisl tincidunt eget nullam. Viverra vitae congue eu consequat ac felis donec et. Dictum non consectetur a erat nam at lectus. Lectus magna fringilla urna porttitor rhoncus dolor purus non enim. Orci a scelerisque purus semper eget duis at tellus at. Feugiat in ante metus dictum at tempor. Sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula. Molestie at elementum eu facilisis sed odio morbi quis. Ornare aenean euismod elementum nisi quis eleifend. Eget aliquet nibh praesent tristique magna sit amet purus gravida. Velit laoreet id donec ultrices.</p>
        	</div>
        </div>
    </div>
    <!-- section for tiles-->
<section class="gallery-area section-padding">
  <div class="container">
    <div class="gallery-title centered">
      <div class="section-title">
        <h2 class="gold-color">Event Gallery</h2>
      </div>
      <div class="title-text">
        <p>Lorem ipsum dolor sit amet, consect etur adipis icing elit. Volupt atum ut alias ullam tempore nobis aspe lorem ipsum.</p>
      </div>
    </div>
  </div>
  <div class="container-fullid">
    <div class="gallery-slider-area">
      <div class="single-item-area">
        <div class="img-box-area">
          <figure><img src="{% static 'images/event-detail-1.png' %}" alt=""></figure>
          <div class="overlay">
            <div class="box">
              <div class="content"> <a href="{% static 'images/event_full5.jpg' %}" class="lightbox-image"><i class="fa fa-plus" aria-hidden="true"></i></a>
                <h5>Title Here</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="single-item-area">
        <div class="img-box-area">
          <figure><img src="{% static 'images/event-detail-2.png' %}" alt=""></figure>
          <div class="overlay">
            <div class="box">
              <div class="content"> <a href="{% static 'images/restaurant_Tile.png' %}" class="lightbox-image"><i class="fa fa-plus" aria-hidden="true"></i></a>
                <h5>Title Here</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="single-item-area">
        <div class="img-box-area">
          <figure><img src="{% static 'images/event-detail-3.png' %}" alt=""></figure>
          <div class="overlay">
            <div class="box">
              <div class="content"> <a href="{% static 'images/Tshirt_tiles.png' %}" class="lightbox-image"><i class="fa fa-plus" aria-hidden="true"></i></a>
                <h5>Title Here</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="single-item-area">
        <div class="img-box-area">
          <figure><img src="{% static 'images/event-detail-4.png' %}" alt=""></figure>
          <div class="overlay">
            <div class="box">
              <div class="content"> <a href="{% static 'images/Game_tile.png' %}" class="lightbox-image"><i class="fa fa-plus" aria-hidden="true"></i></a>
                <h5>Title Here</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="single-item-area">
        <div class="img-box-area">
          <figure><img src="{% static 'images/event-detail-5.png' %}" alt=""></figure>
          <div class="overlay">
            <div class="box">
              <div class="content"> <a href="{% static 'images/cons_tile.png' %}" class="lightbox-image"><i class="fa fa-plus" aria-hidden="true"></i></a>
                <h5>Title Here</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section for tiles ends here-->
</div>
  
{% endblock %}



{% block script %}
{% load static %}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script> 
<script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
<script src="{% static 'js/event-details-gallery.js' %}"></script>
{% endblock %}